.grid-pagination-container {
  .ant-pagination {
    text-align: center;
    padding-bottom: 50px;
  }
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1ft));
  grid-gap: 30px;
  grid-auto-rows: 1fr;
  padding-bottom: 50px;
}
